In [1]:
%load_ext sql

In [4]:
%%sql postgresql://ops:MyPr3cious@somehost:5439/dev

select 'hi there' as "message";

1 rows affected.

[('hi there',)]

In [31]:
%%sql

DROP TABLE if exists public.transactions_history;

CREATE TABLE public.transactions_history (
    operation character(6) NOT NULL,
    when_modified timestamp without time zone NOT NULL,
    transaction_id integer,
    user_id text,
    merchant text,
    amount numeric,
    when_created timestamp without time zone
)
DISTKEY (transaction_id)
SORTKEY (transaction_id, when_modified)
;

 * postgresql://ops:***@klukas-demo.cfh4rlyx7ryj.us-east-2.redshift.amazonaws.com:5439/dev
Done.
Done.

[]

In [28]:
%%sql

explain select transaction_id, user_id, merchant, amount, when_created
from (
    select *, 
    row_number() over (
        partition by transaction_id
        order by transaction_id, when_modified desc
    ) as n
    from transactions_history
) as latest
where n = 1
and operation != 'delete'
;

 * postgresql://ops:***@klukas-demo.cfh4rlyx7ryj.us-east-2.redshift.amazonaws.com:5439/dev
10 rows affected.

[('XN Subquery Scan latest  (cost=1000000000003.33..1000000000006.53 rows=1 width=833)',),
 ("  Filter: ((n = 1) AND (operation <> 'delete'::bpchar))",),
 ('  ->  XN Window  (cost=1000000000003.33..1000000000005.33 rows=80 width=863)',),
 ('        Partition: transaction_id',),
 ('        Order: transaction_id, when_modified',),
 ('        ->  XN Sort  (cost=1000000000003.33..1000000000003.53 rows=80 width=863)',),
 ('              Sort Key: transaction_id, when_modified',),
 ('              ->  XN Seq Scan on transactions_history  (cost=0.00..0.80 rows=80 width=863)',),
 ('----- Tables missing statistics: transactions_history -----',),
 ('----- Update statistics by running the ANALYZE command on these tables -----',)]

In [35]:
%%sql

explain select transaction_id, user_id, merchant, amount, when_created
from (
    select *, 
    row_number() over (
        partition by transaction_id
        order by transaction_id, when_modified
    ) as n,
    count(*) over (
        partition by transaction_id
        order by transaction_id, when_modified
        rows between unbounded preceding and unbounded following
    ) as c
    from transactions_history
) as latest
where n = c
and operation != 'delete'
;

 * postgresql://ops:***@klukas-demo.cfh4rlyx7ryj.us-east-2.redshift.amazonaws.com:5439/dev
8 rows affected.

[('XN Subquery Scan latest  (cost=0.00..4.20 rows=1 width=833)',),
 ("  Filter: ((c = n) AND (operation <> 'delete'::bpchar))",),
 ('  ->  XN Window  (cost=0.00..3.00 rows=80 width=863)',),
 ('        Partition: transaction_id',),
 ('        Order: transaction_id, when_modified',),
 ('        ->  XN Seq Scan on transactions_history  (cost=0.00..0.80 rows=80 width=863)',),
 ('----- Tables missing statistics: transactions_history -----',),
 ('----- Update statistics by running the ANALYZE command on these tables -----',)]